<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="adarlo">Adarlo</a>
    <a href="kaye">Kaye</a>
    <a href="ann">Ann</a>
    <a href="gida">Gida</a>
    <br>
    <h1>Gida</h1>
</body>
</html>